{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}
<style>
    #form-login{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
</style>
<div id="form-login">
  <form class="p-5 border rounded-3 bg-light" method="POST">
      {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <hr class="my-4">
    <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
  </form>
</div>
{% endblock body %}